:root {
    --deepblue: #031059;
    --darknet: #2C3D73;
    --chiaorange: #F24405;
    --nubeblanca: #F2F2F2;
    --texto: #282828;
    --blancogrisaceo: #e7ebda
}

/* Estilo general del html*/
html    {
    font-size: 62.5%;       
    box-sizing: border-box; /*hack para box model*/
    scroll-snap-type: y mandatory; /* para agregar scroll por bloques*/
}
.cintillo, .servicios, .formulario  {
    scroll-snap-align: center;
    scroll-snap-stop: always;
}

*, *::before, *::after {
    box-sizing: inherit;
}
body    {
    font-size: 16px;    /* 1 rem = 10px */
    font-family: 'Josefin Sans', sans-serif;
    background-image: linear-gradient(to top, var(--darknet) 0%, #F2F2F2 30%);
}
@media (max-width: 600px) {
     body {
        text-align: center;
        justify-content: center;
     }
}
.box-sombra {
    -webkit-box-shadow: 1px 1px 15px 5px rgba(40,40,40,0.5);
    -moz-box-shadow: 1px 1px 15px 5px rgba(40,40,40,0.5);
    box-shadow: 1px 1px 15px 5px rgba(40,40,40,0.5);    
    background-color: var(--nubeblanca);
    margin: 1rem;
    padding: 2rem;
    border-radius: 0.8rem;
}
/*Utilidades*/

@media (max-width: 768px) {
    input .boton .w-sm-100 {
       width: auto;
    }
}
.flex {
   display: flex;
}
.alinear {
   justify-content: flex-end;
}
h1  {
    font-size: 3.8rem;
}
h2 {
    font-size: 2.8rem;
}
h3 {
    font-size: 1.8rem;
}
h1, h2, h3 {
    text-align: center;
}
.titulo span    {
font-size: 2rem;
}
.content-hero{
    text-align: center;
}

/* Barra de navegacion */
.cintillo {
    max-width: 120rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}

.navbcg {
    background-color: var(--deepblue);
}

@media (max-width: 600px) {
     .cintillo {
        flex-direction: column;
        align-items: center;
     }
}

.barra-navegacion a {
    color: var(--nubeblanca);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 300;
    padding: 1rem;
}

.barra-navegacion a:hover {
    background-color: var(--darknet);
}
/* estilos de imagen central*/
svg.icon {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    color: var(--chiaorange);
}
.hero {
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 40rem;
    padding: 2rem;
    position: relative;
    margin-bottom: 2rem;
}

.content-hero {
    position: absolute;
    background-color: rgb(0, 0, 0, 0.7 );
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content-hero h2,.content-hero p {
    color: var(--nubeblanca);
}

.boton {
    background-color: var(--chiaorange);
    color: var(--nubeblanca);
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    text-decoration: none;
    font-weight: 500;
    border-radius: 0.5rem;
    border: none;
}
.boton:hover {
    cursor: pointer;
    background-color: #2C3D73;
}

/*Estilos de servicios*/
@media (min-width: 768px) {
     .servicios {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1rem;
     }
}

.servicios h3 {
    color: #F24405;
    font-weight: 700;
}

.servicio-icon {
    margin: 0 auto;
    height: 10rem;
    width: 10rem;
    background-color: var(--deepblue);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.servicio-icon p {
    text-align: center;
    line-height: 2;
}

/*Estilos del formulario*/

.formulario{
     background-color: var(--texto);
     width: min( 60rem , 100%) ; /*es para utilizar el valor mas pequeño*/
    margin: 0 auto;
    padding: 2rem;
    border-radius: 0.8rem;
    }

.formulario fieldset {
    border: none;
}

.formulario legend {
    color: var(--nubeblanca);
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 2rem;
}

.campos {
    margin-bottom: 1rem;
}

.campos label {
    color: var(--nubeblanca);
    font-weight: 700;
    margin: .5rem auto;
    display: block;
}

.input-area {
    width: 100%;
    border: none;
    padding: .5rem;
    border-radius: .5rem;
}

.enviar input {
    width: 100%;
}

/*Estilos pie de pagina*/

